.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

#title {
    font-size: 40px;
    font-variant: small-caps;
    margin-top: 5px;
}

#play-again-button{
    display: none;
}

#bgm-toggle{
    background-color: #FFD100;
    padding: 10px;
    border-radius: 10px;
}

#modal-txt {
    align-self: center;
}

#txt-box {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 1080px; 
}

#blank-txt {
    width: 715px;
}
